
<html>
<head>
<meta name="referrer" content="never">
<script src="https://code.jquery.com/jquery-1.12.0.js"></script>
<script type='text/javascript' src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
  <p id="cap"></p>
<form method="get" action="http://www.adidas.com/on/demandware.store/Sites-adidas-US-Site/en_US/Cart-MiniAddProduct?client_id=d958ef63-4654-4a9d-9007-03cf30262f61">

<select id="sz">

<option value="empty">Select size</option>


<option value="520">
3.5</option>

<option value="530">
4</option>

<option value="540">
4.5</option>

<option value="550">
5</option>

<option value="560">
5.5
</option>

<option value="570">
6
</option>

<option value="580">
6.5
</option>

<option value="590">
7
</option>

<option value="600">
7.5
</option>

<option value="610">
8
</option>

<option value="620">
8.5
</option>

<option value="630">
9
</option>

<option value="640">
9.5
</option>

<option value="650">
10
</option>

<option value="660">
10.5
</option>

<option value="670">
11
</option>

<option value="680">
11.5
</option>

<option value="690">
12
</option>
<option value="710">
13
</option>
<option value="720">
13.5
</option>
<option value="730">
14
</option>
<option value="740">
14.5
</option>
<option value="750">
15
</option>
<option value="760">
15
</option>
<option value="770">
15.5
</option>
<option value="780">
16
</option>
</select>
<br>
<br>
<input type="text" id="sku" placeholder="style #"/>
<br>
<br>
<div style="opacity: 0.3" class="g-recaptcha" data-sitekey="6LekiwgTAAAAAALUnAZQuJEvFG7O5z-gKGEjtz82"></div> 

<br>


</form>
<button id="nocaptca">No captcha</button>
<br>
<br>
<div id="hack"></div>

<script>

  check = setInterval(function() {
    v = document.getElementById('g-recaptcha-response').value
    if (v.length > 0) {
      var r = '&g-recaptcha-response='+v;
      var sku = document.getElementById('sku').value;
      var sz = document.getElementById('sz').value;
      var pid = '&ajax=true&pid=' +sku+'_'+sz;
      
      //document.getElementById('body').innerHTML = '<a href="'+document.forms[0].action+pid+r;
      
      //var json = {}

      js = $("form").attr('action') + pid + r

      $("form").remove()
      $("#nocaptca").remove()  
      $("#cap").text(js)




      clearInterval(check);
    }
  }, 400)

</script>

</body>
</html>